<!DOCTYPE html>
<html>
<head>
  <title>TikeThreads</title>
  <!-- the 'application' in the below stylesheet and javascript lines are what tell this page to first, go to the application.js and application.css files.  Then the applications within these are loaded, which is why we sometimes add things to those files. -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
	<%= render 'layouts/header' %>
	<div class="container">
		<!-- these flash messages are a result of installing the devise gem, which gives tons of functionality for user login-->
		<!-- notice the embedded ruby tag below does not have an '=' after it. The text b/w the tags will not show on the page -->
		<% flash.each do |name, msg| %>
			<!--create a content tag, which will be a div, have a message, have a class, and have dynamic ruby inside -->
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
	</div> <!--end container div-->

</body>
</html>
